doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Language", content="en_US")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lyft Node Starter Kit
    link(rel="shortcut icon", href="/favicon.png")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/main.css")

  body
    div(class="container")
      div(id="map")
      div(id="controls")
        form(id="controlsForm", name="controlsForm")
          ul
            li
              input(type="text", id="locationBegin", name="locationBegin", placeholder="Pick Up Location", title="Pick Up Location")
            li
              input(type="text", id="locationEnd", name="locationEnd", placeholder="Drop Off Location", title="Drop Off Location")
            li
              button(type="submit", title="Request Ride") Request Ride
    script(src="/js/main.js")
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?callback=onGoogleMapsResponse&key="+GOOGLE_API_KEY)
