/*=================*/
/* Document Styles */
/*=================*/

html {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
  color: #000000;
  font-size: 14px;
}
input[type="text"] {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 5px;
  border: none;
}
button[type="button"] {
  display: inline-block;
  margin: 0;
  padding: 10px;
}

.container {
  width: 320px;
  height: auto;
  margin: 0 auto;
}

#map {
  width: 100%;
  height: 256px;
}

#log {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background-color: #CCCCCC;
}
#log > h3 {
  margin: 0;
  padding: 0;
}
#logTarget {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 0;
  font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
  font-size: 12px;
  font-weight: normal;
  border: none;
}

#locations, #controls {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background-color: #CCCCCC;
}
#locations > h3, #controls > h3 {
  margin: 0;
  padding: 0;
}
form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
form ul > li {
  display: block;
  margin: 0;
  padding: 0;
  text-align: right;
}
form ul > li > input[type="text"] {
  width: 100%;
  margin: 5px 0;
}
form ul > li > button[type="button"] {
  margin: 5px;
}
