/*=================*/
/* Document Styles */
/*=================*/

html {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  color: #000000;
  font-size: 14px;
}

.container {
  width: 320px;
  height: auto;
  margin: 0 auto;
}

#map {
  width: 100%;
  height: 320px;
}

#controls {
  width: 100%;
  background-color: #EEEEEE;
}
#controls ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 20px 0;
}
#controls ul > li {
  display: block;
  padding: 10px 10px 0 10px;
  text-align: right;
}
#controls ul > li > input[type="text"] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px;
}
#controls ul > li > button {
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
}
